{% extends 'base.html' %}

{% block title %}
Lojas de Suplementos de Academia
{% endblock title %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>Nome da loja</th>
        <th>Descrição da loja</th>
        <th>Imagem da loja</th>
    </tr>
    </thead>
    <tbody>
    {% for docs in lista %}
    <tr>
        <td>{{ docs.name }}</td>
        <td>{{ docs.descricao }}</td>
        {% if docs.img != "" %}
        <td><img src="{{ docs.img|cut:'['|cut:']'}}"></td>
        {% else %}
        <td>Sem imagem</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}