{% extends 'base.html' %}

{% block title %}
<h2>Lojas de Automóveis</h2>
{% endblock title %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>Nome da loja</th>
        <th>Descrição da loja</th>
        <th>Imagem da loja</th>
    </tr>
    </thead>
    <tbody>
    {% for docs in lista %}
    <tr>
        <td>{{ docs.name }}</td>
        <td>{{ docs.descricao }}</td>
        {% if docs.img != "['']" %}
        <td><img src="{{ docs.img|cut:"["|cut:"]"|cut:"'"|cut:"'"}}"></td>
        {% else %}
        <td><strong>Sem imagem</strong></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}