{% extends 'base.html' %}

{% block title %}
<h2>Listagem de categorias</h2>
{% endblock title %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>Nome da loja</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for docs in lista %}
        <td>{{ docs.name }}</td>
        {% endfor %}
        {% for doz in lista_id %}
        <td>
            <a href="{% url 'lojas_listagem' id=doz %}">{{ doz }}</a>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}