{% extends 'base.html' %}

{% block title %}
<h2>Listagem de desapegos</h2>
{% endblock title %}

{% block content %}
<form method="get">
    <div class="col-lg-9">
        <label>Selecione o estado</label>
        <div class="input-group">
            <select class="form-control" name="q_estado">
                <option selected>Selecione uma opção</option>
                {% for estados in ibge_uf %}
                <option value="{{ estados.sigla }}">{{ estados.nome }}</option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Selecionar estado</button></span>
        </div>
    </div>
</form>
<br>
<form method="get">
    <div class="col-lg-9">
        <label>Selecione o município</label>
        <div class="input-group">
            <select class="form-control" name="q_cidade">
                <option selected>Selecione uma opção</option>
                {% for municipios in ibge_mun %}
                <option value="{{ municipios.nome }}">{{ municipios.nome }}</option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Selecionar municipio</button></span>
        </div>
    </div>
</form>
<br>
<br>

<div class="card-deck mb-20">
    {% for docs in lista %}
    <a href="{% url 'desapegos_dados' token=docs.token id=docs.categoria nome=docs.name cod=docs.id %}">
        <div style="width: 100px; height: 100px; background: url('{{ docs.img.0|cut:"'" }}'; background-size: 100%; border-radius: 100%;">
        </div>
        <strong>{{ docs.name }}       </strong>
    </a>
    {% endfor %}
</div>
<br>
{% endblock %}