{% extends 'base.html' %}
{% include 'base.html' %}

{% block title %}
<h2>Listagem de desapegos</h2>
{% endblock title %}

{% block content %}
<form method="get">
    <div class="col-lg-6">
        <div class="input-group">
            <select class="form-control" name="q_cidade">
                <option selected>Selecione a cidade desejada</option>
                <option value="Porto Velho">Porto Velho</option>
                <option value="Manaus">Manaus</option>
            </select>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            <select class="form-control" name="q_estado">
                <option selected>Selecione o estado desejado</option>
                <option value="RO">RO</option>
                <option value="AM">AM</option>
            </select>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Pesquisar</button>
</form>
<br>
<br>
<div class="card-deck mb-20">
    {% for docs in lista %}
    <a href="{% url 'desapegos_dados' token=docs.token id=docs.categoria nome=docs.name cod=docs.id %}">
        <div class="profile-photo">
            <img class="avatar-photo" alt="" src="{{ docs.img.0|cut:"'" }}">
        </div>
        <div></div><strong>{{ docs.name }}</strong>
    </a>
    {% endfor %}
</div>



{% for dzz in order %}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="form-group">
            <span><a href="{% url 'criar_desapego' token=dzz.token id=dzz.categoria %}"><button type="button" class="btn btn-success">Criar desapego</button></a></span>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}