{% extends 'base.html' %}

{% block title %}
<h2>Listagem de desapegos destacadas</h2>
{% endblock title %}

{% block content %}
<div class="row-clearfix">
    {% for bca in lista %}
    <div class="col-sm-12 col-md-4 mb-30">
        <div class="card card-box text-center">
            <div class="card-body">
                <h5 class="card-title">{{ bca.name }}</h5>
                <p class="card-text">{{ bca.created }}</p>
                {% if bca.diff > 7 %}
                <a href="{% url 'destaque_desapego_ver' token=bca.token did=bca.did %}" class="btn btn-primary">Renovar
                    destaque</a>
                {% else %}
                <h6>No prazo</h6>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}