{% extends 'base.html' %}

{% block title %}
<h2>Copie o link da imagem que deseja remover</h2>
{% endblock title %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <div class="row">
                    {% for dados2 in lista %}
                    <img style="width: 300px;" class="card-img-top" src="{{ dados2.img|cut:"'"|cut:"["|cut:"]" }}">
                    <h6>{{ dados2.id }}</h6>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label>Cole aqui o código debaixo da foto que deseja apagar</label>
                <input type="text" class="form-control" name="imagem"
                       placeholder="Cole aqui o código debaixo da foto que deseja apagar">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <span><button type="submit" class="btn btn-danger">Remover imagem</button></span>
            </div>
        </div>
    </div>
</form>
{% endblock %}