{% extends 'base.html' %}
{% include 'base.html' %}
{% load static %}

{% block content %}

<h2>Dashboard</h2>
<br>
<div class="pre-loader">
    <div class="pre-loader-box">
        <div class="loader-logo"><img src="{% static 'src/images/logo-mix.png' %}" alt=""></div>
        <div class='loader-progress' id="progress_div">
            <div class='bar' id='bar1'></div>
        </div>
        <div class='percent' id='percent1'>0%</div>
        <div class="loading-text">
            Carregando...
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    {% for numeros in lista %}
                    <h3>{{ numeros.usuarios }}</h3>
                    {% endfor %}
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0">Usuários cadastrados</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    {% for numeros in lista %}
                    <h3>{{ numeros.lojas }}</h3>
                    {% endfor %}
                </div>
                <div class="widget-data">
                    <div class="h5 mb-0">Número de lojas cadastradas</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    {% for numeros in lista %}
                    <h3>{{ numeros.desapegos }}</h3>
                    {% endfor %}
                </div>
                <div class="widget-data">
                    <div class="h5 mb-0">Número de desapegos</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    {% for numeros in lista %}
                    <h3>{{ numeros.destaque_lojas }}</h3>
                    {% endfor %}
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0">Número de lojas destacadas</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    {% for numeros in lista %}
                    <h3>{{ numeros.destaque_desapegos }}</h3>
                    {% endfor %}
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0">Número de desapegos destacadas</div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<h3>Filtrar dados por estado e município</h3>
<br>
<form method="get">
    <div class="col-lg-6">
        <div class="input-group">
            <select class="form-control" name="estado">
                <option selected>Selecione uma opção</option>
                {% for estados in ibge_uf %}
                <option value="{{ estados.sigla }}">{{ estados.nome }}</option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Selecionar municipio</button></span>
        </div>
    </div>
</form>
<br>
<form method="get">
    <div class="col-lg-6">
        <div class="input-group">
            <select class="form-control" name="municipio">
                <option selected>Selecione uma opção</option>
                {% for municipios in ibge_mun %}
                <option value="{{ municipios.nome }}">{{ municipios.nome }}</option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Selecionar municipio</button></span>
        </div>
    </div>
</form>

<br>
<h3>Dados filtrados do estado e município selecionado</h3>
<br>
<div class="row">
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    {% for numeros_pesq in lista2 %}
                    <h3>{{ numeros_pesq.lojas_pesq }}</h3>
                    {% endfor %}
                </div>
                <div class="widget-data">
                    <div class="h5 mb-0">Número de lojas cadastradas</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    {% for numeros_pesq in lista2 %}
                    <h3>{{ numeros_pesq.desapegos_pesq }}</h3>
                    {% endfor %}
                </div>
                <div class="widget-data">
                    <div class="h5 mb-0">Número de desapegos</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    {% for numeros_pesq in lista2 %}
                    <h3>{{ numeros_pesq.destaque_lojas_pesq }}</h3>
                    {% endfor %}
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0">Número de lojas destacadas</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    {% for numeros_pesq in lista2 %}
                    <h3>{{ numeros_pesq.destaque_desapegos_pesq }}</h3>
                    {% endfor %}
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0">Número de desapegos destacadas</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
