{% extends 'base.html' %}
{% include 'base.html' %}
{% load static %}

{% block content %}
<div class="pre-loader">
    <div class="pre-loader-box">
        <div class="loader-logo"><img src="{% static 'src/images/logo-mix.png' %}" alt=""></div>
        <div class='loader-progress' id="progress_div">
            <div class='bar' id='bar1'></div>
        </div>
        <div class='percent' id='percent1'>0%</div>
        <div class="loading-text">
            Carregando...
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    {% for numeros in lista %}
                    <h3>{{ numeros.usuarios }}</h3>
                    {% endfor %}
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0">Usuários cadastrados</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    {% for numeros in lista %}
                    <h3>{{ numeros.lojas }}</h3>
                    {% endfor %}
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0">Número de lojas cadastradas</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    {% for numeros in lista %}
                    <h3>{{ numeros.desapegos }}</h3>
                    {% endfor %}
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0">Número de desapegos</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 mb-30">
            <div class="card-box height-100-p widget-style1">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="progress-data">
                        {% for numeros in lista %}
                        <h3>{{ numeros.destaque_lojas }}</h3>
                        {% endfor %}
                    </div>
                    <div class="widget-data">
                        <div class="h4 mb-0">Número de lojas destacadas</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 mb-30">
            <div class="card-box height-100-p widget-style1">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="progress-data">
                        {% for numeros in lista %}
                        <h3>{{ numeros.destaque_desapegos }}</h3>
                        {% endfor %}
                    </div>
                    <div class="widget-data">
                        <div class="h4 mb-0">Número de desapegos destacadas</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
