{% extends 'base.html' %}

{% block title %}
<h2>Dados da loja</h2>
{% endblock title %}

{% block content %}
{% for dec in lista %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label>Nome da loja</label>
                <input type="text" class="form-control" name="name" value="{{ dec.name }}">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label>Descrição da loja</label>
                <input type="text" class="form-control" name="descricao" value="{{ dec.descricao }}">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label>Preço padrão da loja</label>
                <input type="text" class="form-control" name="price" value="{{ dec.price }}">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label>Destacar loja no app?</label>
                <select class="form-control" name="destaque">
                    <option selected>Selecione...</option>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label>Imagens da loja</label><br>
                <div class="row">
                    {% for image in dec.img %}
                    <img style="width: 300px;" class="card-img-top" src="{{ image|cut:"'"|cut:"["|cut:"]" }}">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <span><button type="submit" class="btn btn-success">Atualizar dados</button></span>
                <span><a href="{% url 'adicionar_imagens_loja' id=dec.categoria cod=dec.id %}"><button type="button" class="btn btn-info">Adicionar imagens à loja</button></a></span>
                <span><a href="{% url 'remover_imagens_loja' id=dec.categoria name=dec.name cod=dec.id %}"><button type="button" class="btn btn-warning">Excluir imagens da loja</button></a></span>
                <span><button type="button" class="btn btn-danger">Excluir loja</button></span>
            </div>
        </div>
    </div>
</form>
{% endfor %}
{% endblock %}