{% extends 'base.html' %}

{% block title %}
<h2>Listagem de solicitações de loja</h2>
{% endblock title %}

{% block content %}
{% for dsae in lista %}
<span><div class="col-sm-12 col-md-4 mb-30">
    <div class="card card-box text-center">
        <div class="card-body">
            <h5 class="card-title">{{ dsae.name }}</h5>
            <p class="card-text">{{ dsae.email}}, {{ dsae.whatsapp }}. {{ dsae.created }}</p>
            <a href="{% url 'solicitacao_loja_ver' token=dsae.token cat=dsae.categoria name=dsae.name %}" class="btn btn-primary">Ver
                solicitação</a>
        </div>
    </div>
</div></span>
{% endfor %}

{% endblock %}