{% extends 'user_base.html' %}

{% block title %}
<h2>Dados da loja</h2>
{% endblock title %}

{% block content %}

{% for abc in lista %}
<form method="get">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label>Buscar CEP</label>
                <input type="text" class="form-control" name="cep">
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label>Buscar CEP</label>
                <input type="text" class="form-control" name="cep">
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <span><button type="submit" class="btn btn-success">Buscar</button></span>
            </div>
        </div>
    </div>
</form>
<br>

<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Nome da loja</label>
                <input type="text" class="form-control" name="name" value="{{ abc.name }}">
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Whats App da loja</label>
                <input type="text" class="form-control" name="whatsapp" value="{{ abc.whatsapp }}">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label>Inserir vagas de emprego</label>
                <input type="text" class="form-control" name="trabalheconosco" value="{{ abc.trabalhe_conosco }}">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Preço padrão da loja</label>
                <input type="text" class="form-control" name="price" value="{{ abc.price }}">
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Cidade</label>
                {% if not abc.cidade.nome %}
                <input type="text" class="form-control" name="cidade" value="{{ abc.cidade }}">
                {% else %}
                <input type="text" class="form-control" name="cidade" value="{{ abc.cidade.nome }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Estado</label>
                {% if not abc.estado.sigla %}
                <input type="text" class="form-control" name="estado" value="{{ abc.estado }}">
                {% else %}
                <input type="text" class="form-control" name="estado" value="{{ abc.estado.sigla }}">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label>Adicionar promoção</label>
                <input type="text" class="form-control" name="promocao" value="{{ abc.promocao }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label>Imagens da loja</label><br>
                <div class="row">
                    {% for image in abc.img %}
                    <img style="width: 300px;" class="card-img-top" src="{{ image }}">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label>Imagens da loja em destaque</label><br>
                <div class="row">
                    {% for image in abc.img_destacados %}
                    <img style="width: 300px;" class="card-img-top" src="{{ image }}">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label>Imagens da loja em ofertas</label><br>
                <div class="row">
                    {% for image in abc.img_ofertas %}
                    <img style="width: 300px;" class="card-img-top" src="{{ image }}">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label>Imagens de cupons da loja</label><br>
                <div class="row">
                    {% for image in abc.img_cupons %}
                    <img style="width: 300px;" class="card-img-top" src="{{ image }}">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <span><button type="submit" class="btn btn-success">Atualizar dados</button></span>
                <span><a href="{% url 'user_adicionar_imagem' token=abc.token cat=abc.idCat id=abc.id %}"><button type="button"
                                                                                                       class="btn btn-info">Adicionar imagens à loja</button></a></span>
            <span><a href="{% url 'user_remover_loja' token=abc.token cat=abc.idCat id=abc.id %}"><button type="button"
                                                                                             class="btn btn-danger">Excluir loja</button></a></span>
                <span><a href="{% url 'user_enviar_solicitacao_loja' token=abc.token %}"><button type="button"
                                                                                             class="btn btn-danger">Enviar solicitação pra destacar loja</button></a></span>

            </div>
        </div>
    </div>
</form>
{% endfor %}
{% endblock %}