{% extends 'base.html' %}

{% block title %}
<h2>Criar loja como usuário</h2>
{% endblock title %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Nome da loja</label>
                <input type="text" class="form-control" name="name" placeholder="Insira o nome da loja">
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Whats app da loja</label>
                <input type="text" class="form-control" name="whatsapp" placeholder="Insira o Whats App da loja">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label>Insira aqui vagas de emprego da loja</label>
                <input type="text" class="form-control" name="trabalhe_conosco" placeholder="Insira a descrição da loja" >
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Preço padrão da loja</label>
                <input type="text" class="form-control" name="price" placeholder="Insira o preço padrão da loja">
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>CEP</label>
                <input type="text" class="form-control" name="cep" placeholder="Insira o CEP da loja">
            </div>
        </div>
         <div class="col-md-3 col-sm-12">
            <div class="form-group">
                 <label>Selecione a categoria da loja</label>
                <select class="form-control" name="destaque">
                    <option selected>Selecione...</option>
                    <option value="academia_sumplementos">Academias e suplementos</option>
                    <option value="agencia_viagens">Agências de viagens</option>
                    <option value="brinquedos">Brinquedos</option>
                    <option value="cama_mesa_banho">Cama, mesa e banho</option>
                    <option value="cosmetico_beleza">Cosmético e beleza</option>
                    <option value="decoracao">Decoração</option>
                    <option value="eletronicos">Eletrônicos</option>
                    <option value="modulados">Modulados</option>
                    <option value="musica_hobbies">Música e hobbies</option>
                    <option value="oticas">Óticas</option>
                    <option value="petshops">Petshops</option>
                    <option value="roupas_acessorios">Roupas e acessórios</option>
                    <option value="saude">Saúde</option>
                    <option value="servicos_gerais">Serviços gerais</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <span><button type="submit" class="btn btn-success">Criar loja</button></span>
            </div>
        </div>
    </div>
</form>

{% endblock %}