{% extends 'base.html' %}

{% block title %}
<h2>Dados do usuário</h2>
{% endblock title %}

{% block content %}

{% for y in abc %}
<form method="get">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label>Buscar CEP</label>
                <input type="text" class="form-control" name="cep">
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <span><button type="submit" class="btn btn-success">Buscar</button></span>
            </div>
        </div>
    </div>
</form>
<br>

<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" name="name" value="{{ y.name }}">
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Celular</label>
                <input type="text" class="form-control" name="whatsapp" value="{{ y.phone }}">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label>E-mail</label>
                <input type="text" class="form-control" name="email" value="{{ y.email }}">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Cidade</label>
                {% if not y.cidade.nome %}
                <input type="text" class="form-control" name="city" value="{{ y.address.city }}">
                {% else %}
                <input type="text" class="form-control" name="city" value="{{ y.cidade.nome }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Distrito</label>
                {% if not y.bairro %}
                <input type="text" class="form-control" name="district" value="{{ y.address.district }}">
                {% else %}
                <input type="text" class="form-control" name="district" value="{{ y.bairro }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Latitude</label>
                {% if not y.latitude %}
                <input type="text" class="form-control" name="lat" value="{{ y.address.lat }}">
                {% else %}
                <input type="text" class="form-control" name="lat" value="{{ y.latitude }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Longitude</label>
                {{% if not y.longitude %}
                <input type="text" class="form-control" name="long" value="{{ y.address.long }}">
                {% else %}
                <input type="text" class="form-control" name="long" value="{{ y.longitude }}">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Estado</label>
                {{% if not y.estado.sigla %}
                <input type="text" class="form-control" name="state" value="{{ y.address.state }}">
                {% else %}
                <input type="text" class="form-control" name="state" value="{{ y.estado.sigla }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Logradouro</label>
                {{% if not y.logradouro %}
                <input type="text" class="form-control" name="street" value="{{ y.address.street }}">
                {% else %}
                <input type="text" class="form-control" name="street" value="{{ y.logradouro }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>CEP</label>
               {{% if not y.cep %}
                <input type="text" class="form-control" name="zipCode" value="{{ y.address.zipCode }}">
                {% else %}
                <input type="text" class="form-control" name="zipCode" value="{{ y.cep }}">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label>Imagem do perfil</label><br>
                <div class="row">
                    <img style="width: 300px;" class="card-img-top" src="{{ y.img }}">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <span><button type="submit" class="btn btn-success">Atualizar dados</button></span>
                <span><a href="{% url 'adicionar_imagem_perfil' id=y.id %}"><button type="button" class="btn btn-info">Adicionar ou atualizar imagem ao perfil</button></a></span>
                <span><a href="{% url 'remover_usuario' id=y.id %}"><button type="button" class="btn btn-danger">Excluir usuário</button></a></span>
            </div>
        </div>
    </div>
</form>
{% endfor %}
{% endblock %}