{% extends 'base.html' %}
{% include 'user_base.html' %}

{% block title %}
<h2>Dados do usuário</h2>
{% endblock title %}

{% block content %}


<form method="get">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label>Buscar CEP</label>
                <input type="text" class="form-control" name="cep">
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <span><button type="submit" class="btn btn-success">Buscar</button></span>
            </div>
        </div>
    </div>
</form>
<br>
{% for abc in lista %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" name="name" value="{{ abc.name }}">
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Celular</label>
                <input type="text" class="form-control" name="phone" value="{{ abc.phone }}">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label>E-mail</label>
                <input type="text" class="form-control" name="email" value="{{ abc.email }}">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Cidade</label>
                {% if not abc.cidade.nome %}
                <input type="text" class="form-control" name="city" value="{{ abc.address.city }}">
                {% else %}
                <input type="text" class="form-control" name="city" value="{{ abc.cidade.nome }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Distrito</label>
                {% if not abc.bairro %}
                <input type="text" class="form-control" name="district" value="{{ abc.address.district }}">
                {% else %}
                <input type="text" class="form-control" name="district" value="{{ abc.bairro }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Latitude</label>
                {% if not abc.latitude %}
                <input type="text" class="form-control" name="lat" value="{{ abc.address.lat }}">
                {% else %}
                <input type="text" class="form-control" name="lat" value="{{ abc.latitude }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Longitude</label>
                {% if not abc.longitude %}
                <input type="text" class="form-control" name="long" value="{{ abc.address.long }}">
                {% else %}
                <input type="text" class="form-control" name="long" value="{{ abc.longitude }}">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Estado</label>
                {% if not abc.estado.sigla %}
                <input type="text" class="form-control" name="state" value="{{ abc.address.state }}">
                {% else %}
                <input type="text" class="form-control" name="state" value="{{ abc.estado.sigla }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>Logradouro</label>
                {% if not abc.logradouro %}
                <input type="text" class="form-control" name="street" value="{{ abc.address.street }}">
                {% else %}
                <input type="text" class="form-control" name="street" value="{{ abc.logradouro }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label>CEP</label>
               {% if not abc.cep %}
                <input type="text" class="form-control" name="zipCode" value="{{ abc.address.zipCode }}">
                {% else %}
                <input type="text" class="form-control" name="zipCode" value="{{ abc.cep }}">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label>Imagem do perfil</label><br>
                <div class="row">
                    <img style="width: 300px;" class="card-img-top" src="{{ abc.img }}">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <span><button type="submit" class="btn btn-success">Atualizar dados</button></span>
                <span><a href="{% url 'adicionar_imagem_perfil' token=abc.token id=abc.id %}"><button type="button" class="btn btn-info">Adicionar ou atualizar imagem ao perfil</button></a></span>
                <span><a href="{% url 'remover_usuario' token=abc.token id=abc.id e=abc.email %}"><button type="button" class="btn btn-danger">Excluir usuário</button></a></span>
            </div>
        </div>
    </div>
</form>
{% endfor %}
{% endblock %}